<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= team.created_by %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= team.logo %>
  </p>

  <p>
    <strong>Team lead:</strong>
    <%= team.team_lead %>
  </p>

</div>
