<section class="vh-100 d-flex align-items-center"  style="background-color: #0C4767;">
  <div class="container p-5 my-auto w-auto" style="background-color: white; border-radius: 1rem">
    <h4>Sign up</h4>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="form-outline mb-4">
            <%= f.label :full_name, class: "form-label" %><br />
            <%= f.text_field :full_name, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-outline mb-4">
            <%= f.label :phone, class: "form-label" %><br />
            <%= f.text_field :phone, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-outline mb-4">
            <%= f.label :password_confirmation, class: "form-label" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6 mb-4">
          <div class="form-outline mb-4">
            <%= f.label :email, class: "form-label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
          <div class="form-outline mb-4">
            <%= f.label :password, class: "form-label" %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>
          
        </div>
      </div>

      <div>
        <%= f.submit "Sign up", class: "btn btn-primary btn-block mb-4" %>
      </div>    
    <% end %>

    <div class="d-flex justify-content-center gap-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>  
</section>