<div class="w-3/4">
    <div class="flex justify-center gap-8 px-8">
        <%= link_to root_path(date: @date.prev_month) do %>
            <i class="fe fe-arrow-left mr-8"></i>
        <% end %>
        <h4 data-calendar-target="yearToggler" data-action="click->calendar#toggle" class="flex flex-col items-center text-2xl font-semibold cursor-pointer">
            <%= @date.strftime("%b %Y") %>            
        </h4>       
        <%= link_to root_path(date: @date.next_month) do %>
            <i class="fe fe-arrow-right ml-8"></i>
        <% end %>
    </div>
    <div data-calendar-target="yearSelectorContainer" class="hidden text-center my-2">
        <%= form_tag root_path, method: :patch do %>
            <%= select_tag :year, options_for_select((Date.current.year - 5)..(Date.current.year + 5), @date.year), onchange: "this.form.submit();" %>
        <% end %>
    </div>
    <div class="grid grid-cols-7 bg-white dark:bg-gray-800">    
        <% Date::ABBR_DAYNAMES.rotate.each do |weekday| %>
            <div class="py-2 text-center border">
                <%= weekday %>
            </div>
        <% end %>
        <% month_offset(@date).times do %>
            <div class="border min-h-24"></div>
        <% end %>
        <% @date.all_month.each do |day| %>
            <div class="border min-h-24 p-2 <%= today_class(day) %>">
                <%= day.strftime("%e") %>
            </div>
        <% end %>   
    </div>
</div>