<div id="<%= dom_id worksheet %>">
  <p>
    <strong>Created by:</strong>
    <%= worksheet.created_by %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= worksheet.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= worksheet.description %>
  </p>

  <p>
    <strong>Task manager:</strong>
    <%= worksheet.task_manager %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= worksheet.deadline %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= worksheet.completed %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= worksheet.completed_at %>
  </p>

  <p>
    <strong>Completed by:</strong>
    <%= worksheet.completed_by %>
  </p>

</div>
