<p style="color: green"><%= notice %></p>

<%= render @status_group %>

<div>
  <%= link_to "Edit this status group", edit_status_group_path(@status_group) %> |
  <%= link_to "Back to status groups", status_groups_path %>

  <%= button_to "Destroy this status group", @status_group, method: :delete %>
</div>
