<p style="color: green"><%= notice %></p>

<%= render @task_group %>

<div>
  <%= link_to "Edit this task group", edit_task_group_path(@task_group) %> |
  <%= link_to "Back to task groups", task_groups_path %>

  <%= button_to "Destroy this task group", @task_group, method: :delete %>
</div>
