<div id="<%= dom_id project %>">
  <p>
    <strong>Created by:</strong>
    <%= project.created_by %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project.status %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= project.deadline %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= project.completed %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= project.completed_at %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= project.datetime %>
  </p>

  <p>
    <strong>Completed by:</strong>
    <%= project.completed_by %>
  </p>

  <p>
    <strong>Coordinator:</strong>
    <%= project.coordinator %>
  </p>

</div>
