<%= form_with(model: update) do |form| %>
  <% if update.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(update.errors.count, "error") %> prohibited this update from being saved:</h2>

      <ul>
        <% update.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :updated_by, style: "display: block" %>
    <%= form.number_field :updated_by %>
  </div>

  <div>
    <%= form.label :update_note, style: "display: block" %>
    <%= form.text_area :update_note %>
  </div>

  <div>
    <%= form.label :updatable_type, style: "display: block" %>
    <%= form.text_field :updatable_type %>
  </div>

  <div>
    <%= form.label :updatable_id, style: "display: block" %>
    <%= form.number_field :updatable_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
