<div id="<%= dom_id update %>">
  <p>
    <strong>Updated by:</strong>
    <%= update.updated_by %>
  </p>

  <p>
    <strong>Update note:</strong>
    <%= update.update_note %>
  </p>

  <p>
    <strong>Updatable type:</strong>
    <%= update.updatable_type %>
  </p>

  <p>
    <strong>Updatable:</strong>
    <%= update.updatable_id %>
  </p>

</div>
