<div id="<%= dom_id view %>">
  <p>
    <strong>Entity type:</strong>
    <%= view.entity_type %>
  </p>

  <p>
    <strong>Entity:</strong>
    <%= view.entity_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= view.user_id %>
  </p>

  <p>
    <strong>View time:</strong>
    <%= view.view_time %>
  </p>

</div>
