<!DOCTYPE html>
<html>
  <head>    
    <link rel="icon" href="<%= asset_url('mogul_logo.png') %>" class="rounded-full" />
    <title> Mogul</title>   
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>    
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="container box-content min-h-screen relative w-full bg-platinum">
    <% if user_signed_in? %>
      <div data-controller="navbar" data-action="keyup@window->navbar#closeOnEscape" class="sticky top-0 z-10 h-16">
        <%= render "layouts/navbar" %>
      </div>
    <% end %>
    <div class="absolute mx-auto">
      <p class="notice text-center"><%= notice %></p>
      <p class="alert text-center"><%= alert %></p>
    </div>      
    <main class="container flex">
      <% if user_signed_in? %>
        <%= render "layouts/sidebar" %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
